body {
    background-color: black;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: cover;

    color: white;
    overflow: hidden;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
header {
    position: absolute;
    top: 30px;
    right: 30px;
}
#header {
    left: 0px;
}

.wrapper a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #ffffff 10%, rgb(255, 255, 255) 80%, #c5c5c5 15%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    cursor: pointer;
    display: inline-block;
}

.wrapper:hover a {
    background: linear-gradient(to right, #ffffff 60%, rgb(255, 112, 112) 30%, #ff8080 10%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip2 4s linear infinite;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
@keyframes textclip2 {
    to {
        background-position: 200% center;
    }
}
ul {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
}
a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
h1 {
    background: linear-gradient(45deg, #d3d3d3 33%, #ffffff 66%, #535353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    margin: 0;
    font-size: 55px;
    text-transform: uppercase;
}
#name {
    margin-top: 30px;
    opacity: 0;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 600;
    background: linear-gradient(45deg, #9e9e9e 33%, #ffffff 66%, #535353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.projects div {
    width: 320px;
    height: 360px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3s ease-in-out;
    cursor: pointer;
    margin-left: 5px;
}
.projects div:hover {
    border: 1px solid rgb(252, 140, 140);
}
.projects div a {
    font-size: 24px;
}
.down {
    padding-top: 30px;
}
.up {
    padding-bottom: 30px;
}

@media (max-width: 1300px) {
    .projects {
        margin-top: 470px;
        flex-wrap: wrap;
    }
    .projects div {
        max-width: 320px;
        height: 270px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 3s ease-in-out;
        cursor: pointer;
        margin-left: 5px;
    }
    .down {
        padding-top: 0px;
    }
    .up {
        padding-bottom: 0px;
    }
    body {
        overflow-y: scroll;
    }
}
